body{
  font-family: 'Montserrat', sans-serif;
}


@media only screen and (min-width: 576px) {
  div.small-container {
    width: 680px;
  }
}

@media only screen and (min-width: 992px) {
  #navbarNav {
    display: flex;
    justify-content: flex-end;
  }
}

/*homepage*/
.cover-container{
  background: linear-gradient(rgba(0,0,0,0),rgba(255,255,255,2)),url(....)
}

/*Navbar*/
.navbar a{
  font-weight: 700;
  font-size: 12px;
  color: black !important;
  }

.nav {
  padding: 30px;
  }


/*jumbotron*/
.homepage {
  width:100%;
  display:table;
  margin-bottom: 0px;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-color: transparent;
  padding-top: 150px;

}

.homepage .container {
  text-align: left;
}



h1 {
  font-family: 'Miriam Libre', sans-serif;
  font-weight: 700;
  font-size: 90px;
  color: #CD0000
}

h2 {
  font-weight: 300;
  font-size: 33px;
  width: 946px;
}

.contactbutton{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.contactbutton a{
  font-size: 16px;
  color: black;
  font-weight: 300;
  padding-right:20px;
  padding-top: 20px;
  }

h4{
  font-size: 20px;
  font-weight: 700px;
  color: black;
}



/*body*/
.methodologie{
  padding-bottom: 70px;
}

.essai {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.card-body{
  padding-left: 40px;
}

.cardbutton{
  font-family: 'Miriam Libre', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.cardbutton a{
  color: #CD0000;
}

span {
  color: #CD0000;
  font-weight: 600;
}

.rectangle-red {
  font-family: 'Miriam Libre', sans-serif;
  color: white;
  background-color: #CD0000;
  padding-left: 0px;
  width: 145px;
  margin-left: 0px;
}

.rectangle-red p {
  padding-left: 5px;
}

/*gmp project*/


.article-title h1{
  color: black;
  font-size: 40px;
  width: 700px;
}

.article-title{
  padding-top: 70px;
  padding-bottom: 20px;
}

.article-subtitle {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 20px;
}



.article-text{
  line-height: 27px;
}

.details-list ul{
  list-style: none;
  padding: 0;
  line-height: 30px;;
}

.article-text h3{
font-family: 'Miriam Libre', sans-serif;
padding-top: 50px;
}

.h3apresh2 h3{
  padding-top: 0px;
}


.article-paragraph{
  line-height: inherit;
  padding-bottom: 20px;
}

.user-quote{
  font-size: 25px;
  font-family: 'Unna';
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 50px;
}

.article-image{
  padding-bottom: 30px;
}

a {
  color: #CD0000;
}


/*Button*/



/*footer*/
.copyrightp {
  font-size: 16px;
  font-weight: 400px;
}

.footer-text p {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 200;
}

.footer-text a{
  color: #CD0000;
  font-weight: 700;
}



/*photography page*/

.photography h2 {
  font-size: 300px;
  margin-top: 100px;
  margin-left: 200px;
  color: #F1F1F1;
  z-index: -2
}

.photography p {
  font-size: 15px;
  font-style: oblique;
  padding-top: 30px;
}


.photography .row {
  display:flex;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 200px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 30px;
}

.column img {
  margin-top: 50px;
  vertical-align: middle;
}



/*uber page*/

.uber h2{
  margin-top: 60px;
  display: flex;
  font-size: 70px;
  font-weight: 600;
  color: #ED5527;
}

.uber p{
  margin-top: 80px;
  padding-left: 120px;
  display: flex;
  font-size: 20px;
}


.uber .row {
  margin: 70px;
}

.jumbotron-uber {
  background-color: #FFFFFF;
}

.jumbotron-uber2 {
margin-bottom: 30px;
}

.uber-2 h3{
  font-weight: 500;
}

.uber-2 h6{
  font-weight: 300;
  width: 400px;
}

.jumbotron-uber2 {
  padding: 30px;

}

.uber hr{
  margin-bottom: 60px;
  size: 5;
}

.container-pb h3{
  font-size: 20px;
  font-weight: 300;
}

.container-pb p {
  width: 600px;
  font-size: 15px;
}



.jumbotron-pb{
  background-color:#ED5527;
  color: white;
  padding: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
}



/*details projets page*/

.article{
  padding-bottom:0;
  background-color: #E8EEF0;
}

.brand-attributes{
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
}




/*button*/
.btn-one {
  text-align: center;
  outline-color: #E8EEF0;
}
