body{
  font-family: raleway;
  cursor: crosshair;
}

footer li{
  display:inline;
  padding: 20px;
}
footer{
  margin-top: 40px;
}

#navbarNav {
  display: flex;
  justify-content: flex-end;
}


/*homepage*/

.homepage {
  width:100%;
 height: 100vh;
 display:table;
}


.bg-image {
  background-image: url(../assets/images/homepage.jpg);
  background-size: cover;
  background-position: center;

}

.homepage .container {
  padding-top: 350px;
  display:table-cell;
  vertical-align:middle;
  text-align: center;
}


.navbar-collapse {
  font-weight: 600;
  font-size: 15px
}

.display-4 {
  font-size: 60px;
  font-weight: 400;
}


h3 {
  font-size: 20px;
}

.homepage p {
margin-bottom: 300px;
font-weight: 300;
font-size: 20px;
padding-top: 20px;
}


.col-sm-6{
  padding: 20px;
}


hr{
  width: 500px;
}

.recentproject .row:first-child{
  margin-bottom: 20px
}


.btn-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 3px;
}

.btn-img:hover {
  background-image: url(../assets/images/ubercardover.png);
  transition: background-image 0.2s;
  transition-timing-function: ease-in-out;
}



#airfrance .image {
  height: 400px;
  background-size: cover;
  background-image: url(../assets/images/cat-1.jpeg);
  transition: background-image 0.2s;
  transition-timing-function: ease-in-out;
}
#airfrance .image:hover {
  background-image: url(../assets/images/dog-1.jpg);
  transition: background-image 0.2s;
  transition-timing-function: ease-in-out;
  }



.fa-medium {
  color: #000000;
  margin: 20px;
}

.fa-linkedin {
  color: #000000;
  margin: 20px;
}

.fa-behance-square {
  color: #000000;
  margin: 20px;
}




/*aboutme*/

.about-me img{
  margin-top: 200px;
  padding-bottom: 50px;
}
.about-me p{
  font-size: 15px;
}

.about-me h1 {
  font-size: 300px;
  font-weight: 800;
  color:#FFF3DB;
  padding-top: 20px;
}

.social-network ul{
  list-style: none;
}
.social-network li {
  display:inline;
  padding-right: 20px;
}

/*project page*/

.projects h2 {
  font-size: 300px;
  margin-top: 100px;
  margin-left: 200px;
  color: #F1F1F1;
  z-index: -2
}

.nav-pills {
  font-size: 25px;
  font-weight: 600;
  padding: 40px;
}

.nav-pills .nav-item .active {
  background-color: #FFBC77;
}

.nav-pills .nav-item {
  color: #FFBC77;
}

.nav-link .active {
  background-color: #F1F1F1;
}


/*photography page*/

.photography h2 {
  font-size: 300px;
  margin-top: 100px;
  margin-left: 200px;
  color: #F1F1F1;
  z-index: -2
}

.photography p {
  font-size: 15px;
  font-style: oblique;
  padding-top: 30px;
}


.photography .row {
  display:flex;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 200px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 30px;
}

.column img {
  margin-top: 50px;
  vertical-align: middle;
}



/*uber page*/

.uber h2{
  margin-top: 60px;
  display: flex;
  font-size: 70px;
  font-weight: 600;
  color: #ED5527;
}

.uber p{
  margin-top: 80px;
  padding-left: 120px;
  display: flex;
  font-size: 20px;
}


.uber .row {
  margin: 70px;
}

.jumbotron-uber {
  background-color: #FFFFFF;
}

.jumbotron-uber2 {
margin-bottom: 30px;
}

.uber-2 h3{
  font-weight: 500;
}

.uber-2 h6{
  font-weight: 300;
  width: 400px;
}

.jumbotron-uber2 {
  padding: 30px;

}

.uber hr{
  margin-bottom: 60px;
  size: 5;
}

.container-pb h3{
  font-size: 20px;
  font-weight: 300;
}

.container-pb p {
  width: 600px;
  font-size: 15px;
}

.container-pb h4 {
  font-weight: 500;
  padding-top: 40px;
  font-size: 20px;
  color: #ED5527;
}

.jumbotron-pb{
  background-color:#ED5527;
  color: white;
  padding: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
}




/*details projets page*/

.article{
  padding-bottom:0;
  background-color: #E8EEF0
}

.brand-attributes{
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
}


@media only screen and (min-width: 576px) {
  div.small-container {
    width: 680px;
  }
}
